# Network specific settings
network: {{ story_network }}

# Execution layer configuration
execution:
  urls:
    - {{ execution_endpoints }}
  timeout: 5s
  jwt_secret: {{ jwt_secret_path }}

# API configuration
http-api:
  address: 0.0.0.0:5052
  cors-domains:
    - "*"
  enable: true

# Metrics configuration
metrics:
  enabled: true
  address: 0.0.0.0:5054
  expose-peer-info: false

# P2P configuration
p2p:
  discovery-port: {{ p2p_discovery_port }}
  tcp-port: {{ p2p_tcp_port }}
  udp-port: {{ p2p_udp_port }}

# Data directory configuration
data-dir: "{{ base_dir }}/story"

# Terminal total difficulty value
terminal-total-difficulty: 0

# Safe slots to import optimistically
sync-optimistic-safe-slots: 128