[Unit]
Description=Story Consensus Client
After=network-online.target story-geth.service
Wants=network-online.target
Requires=story-geth.service

[Service]
User={{ story_user }}
ExecStart={{ story_binary_path }} run --home={{ base_dir }}/story --network odyssey --engine-endpoint=http://localhost:8551 --engine-jwt-file=/home/ubuntu/jwt.hex
Restart=always
RestartSec=3
LimitNOFILE=65535
Environment="HOME={{ base_dir }}/story"

[Install]
WantedBy=multi-user.target